# Dependencies
/node_modules
/Assolombarda/my-showcase/
/DatapizzAI/PizzAI/datapizza-ai-main.zip
/DatapizzAI/PizzAI/datapizza-ai-main/*
 
# Environment files
firebase-config-local.js 

*xlsx
*csv
# Allow CSV files in Assolombarda project
!Assolombarda/**/*.csv
*.DS_Store
